body {background-color: #FEFEB7;font-size: 0.9em;width:450px;height:100px}
	#info{border: 1px dashed;border-radius:3px;padding: 2px;margin-bottom: 5px;}
	#applet{margin-left: 20%;border: 1px solid;width: 230px;border-radius: 3px;padding: 3px;background-color: #fff;}